
form(method="POST", action='/profile/upload/email/:id' enctype='multipart/form-data')
  p Name
    input(type="file", name="name")
  p Email
    input(type="file", name="email")
  p Age
    input(type="file", name="age")
  p
    input(type="submit")