form(method="POST", action='/profile/upload/email/profilepic/abmnukmr@gmail.com' enctype='multipart/form-data')
    p Name
        input(type="file", name="name")
    p Email
        input(type="file", name="email")
    p Age
        input(type="file", name="age")
    p
        input(type="submit")
        //
   //Created by ABHIMANYU SINGH KASH on 3/2/2017.

